.movies-card {
  width: 360px;
  height: 319px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #222;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}
.movies-card__description {
  margin: 18px 16px 18px 16px;
  display: flex;
  align-items: center;
}
.movies-card__name {
  color: white;
  margin: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.movies-card__duration {
  color: #8b8b8b;
  margin: 0;
  margin-left: auto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.movies-card__save-btn {
  margin: 18px auto;
  width: 100px;
  height: 29px;
}

.movies-card__save-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .movies-card {
    width: 342px;
    height: 309px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card {
    width: 300px;
    height: 271px;
  }
  .movies-card__description {
    margin: 14px;
  }
  .movies-card__name {
    font-size: 12px;
  }
  .movies-card__duration {
    font-size: 10px;
  }
  .movies-card__img {
    width: 300px;
    height: 168px;
  }
  .movies-card__save-btn {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}
