@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

body {
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  line-height: 18px;
  box-sizing: border-box;
  background: #202020;
  /* height: 100vh; */
}
